.env
.idea
*.pyc

app_data/*
!app_data/README.txt

app_databases/*
!app_databases/README.txt

app_files/*
!app_files/README.txt

docker/custom_images/hashes.yml
tests/tests/_data/VisualCeption/*
tests/tests/_output/*

